<% layout('layouts/boilerplate')%> 

    <h1>Add a new movie</h1>
    <form action="/movies" method=post>
        <label for="title">Movie title</label>
        <input type="text" name="title" placeholder="movie name">
        <label for="rating">movie rating</label>
        <input type="text" name="rating" placeholder="movie rating">
        <label for="release">movie release date</label>
        <input type="text" name="release" placeholder="movie release date">
        <button>submit</button>
    </form>

    <a href="/movies">All movies</a>